<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="baseUrl" content="{{ absoluteUrl() }}">
    <title>Bootstrap Starter</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    {{ css('css/app') }}
    <style>
        body { background: #F2F6FA; }
    </style>
</head>
<body>

    <main id="app"></main>
    
    {{ script('js/app') }}
</body>
</html>